.price-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.ml {
  margin-left: 20px;
}

.price-items {
  margin-bottom: 20px;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
